{{#if state.loggedIn}}
  <section class="section-comment">
    <span class="section-comment--title">Want to say something? Leave a comment!</span>
    <form class="section-comment--form">
      <div>
        <label for="section-comment--content">Comment</label>
        <textarea
          name="section-comment--content"
          id="section-comment--content"
          cols="12"
          rows="5"
        ></textarea>
      </div>
      <button class="section-comment--create-btn" type="submit">
        Submit Comment
      </button>
    </form>
  </section>
{{/if}}
<section class="section-all_comments">
  {{#each post.comments}}
    <p class="section-all_comments--created_comment">
      {{user.username}}
      <br />
      {{content}}
    </p>
  {{/each}}
</section>