<section class="section-create_post">
  <span class="section-create_post--title">Create New Post</span>
  <form class="section-create_post--form">
    <div>
      <label for="section-create_post--title">Title</label>
      <input type="text" id="section-create_post--title" />
    </div>
    <div>
      <label for="section-create_post--content">Content</label>
      <textarea
        name="section-create_post--content"
        id="section-create_post--content"
        cols="12"
        rows="5"
      ></textarea>
    </div>
    <button class="btn" type="submit">Create Post</button>
  </form>
</section>