{{#if state.loggedIn}}
<section class="section-dashboard">
  {{> create-post}}
  {{> post-info}}
</section>
{{/if}}

{{#if state.loggedIn}}
  <script src="/javascript/logout.js"></script>
  <script src="/javascript/create-post.js"></script>
{{/if}}