<header class="section-header">
  {{! Logo or title }}
  <h1 class="logo">Tech-Journal</h1>
  {{! Navbar }}
  <nav class="navigation">
    <ul class="navbar">
      {{! If loggedIn === false, only display signup and login links }}
      {{#unless state.loggedIn}}
        <a href="/signup" class="nav-links">Sign up</a>
        <a href="/login" class="nav-links">Login</a>
        {{! else display homepage and dashboard links along with logout button }}
      {{else}}
        <a href="/" class="nav-links">Homepage</a>
        <a href="/dashboard" class="nav-links">Dashboard</a>
        <button id="logout" class="nav-links">Logout</button>
      {{/unless}}
    </ul>
  </nav>
</header>

<section class="all-posts-section">
  {{> post-info}}
</section>

{{#if state.loggedIn}}
  <script src="/javascript/logout.js"></script>
{{/if}}