<header class="section-header">
  {{! Logo or title }}
  <h1 class="logo">Tech-Journal</h1>
  {{! Navbar }}
  <nav class="navigation">
    <ul class="navbar">
      {{! If loggedIn === false }}
      <a href="/signup" class="nav-links">Sign up</a>
      <a href="/login" class="nav-links">Login</a>
      {{! Else }}
      <a href="/" class="nav-links">Homepage</a>
      <a href="#" class="nav-links">Dashboard</a>
      <a href="/" class="nav-links">Logout</a>
    </ul>
  </nav>
</header>