<a href="/">Homepage</a>
<form class="signup-form">
  {{! Username }}
  <label for="signup-input">Username:</label>
  <input type="text" id="signup-input" value="DevTest" />
  {{! Password }}
  <label for="password-input">Password:</label>
  <input type="password" id="password-input" value="password" />
  {{! Signup Button }}
  <button type="submit">Submit</button>
</form>