<a href="/">Homepage</a>
<form class="signup-form">
  {{! Username }}
  <label for="signup-username-input">Username:</label>
  <input type="text" id="signup-username-input" value="DevTest" />
  {{! Password }}
  <label for="signup-password-input">Password:</label>
  <input type="password" id="signup-password-input" value="password" />
  {{! Email }}
  <label for="signup-email-input">Email:</label>
  <input type="text" id="signup-email-input" value="Dev@gmail.com" />
  {{! Signup Button }}
  <button type="submit">Submit</button>
</form>

<script src="/javascript/signup.js"></script>