<section class="section-post">
  <div class="post">
    <div class="post-top">
      <span class="post-top--title">{{post.title}}</span>
      <div>
        <span class="post-top--created_by">Posted by {{post.user.username}}</span>
        <span class="post-top--created_at"> on {{format_date post.created_at}}</span>
      </div>
    </div>
    <div class="post-bottom">
      <p class="post-bottom--text_content">{{post.content_body}}</p>
    </div>
  </div>
</section>

{{> comment}}

<script src="/javascript/comment.js"></script>