/*********************************/
/* HOMEPAGE/DASHBOARD SECTIONS */
/*********************************/

/* Layout for all posts */
.section-homepage,
.section-dashboard,
.section-post {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 3rem;
  width: 100vw;
}

/****************************/
/* POST SECTION */
/****************************/

.post {
  display: flex;
  flex-direction: column;

  border: 1px solid black;
  margin-bottom: 2rem;
  width: 80vw;
}

.post-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid black;
  padding: 1rem;
}

.post-top--title {
  font-size: 3rem;
}

.post-bottom {
  margin-top: 1rem;
  padding: 1rem;
}

/****************************/
/* CREATE-POST SECTION */
/****************************/

.section-create_post {
  display: flex;
  flex-direction: column;
  width: 50%;

  border: 1px solid black;
  margin-bottom: 5rem;
}

.section-create_post--title {
  font-size: 3rem;
  border-bottom: 1px solid black;
  padding: 1rem 0 1rem 1rem;
}

.section-create_post--form {
  padding: 1rem;
}

.section-create_post div {
  font-size: 2.4rem;
}

.section-create_post div:last-of-type {
  margin: 2.5rem 0;
}

textarea[name="section-create_post--content"] {
  width: 100%;
  resize: none;
}

.section-create_post--form button {
  margin-bottom: 2rem;
  width: 100%;
}

.section-create_post--signup-link {
  font-size: 2rem;
}

/****************************/
/* EDIT-POST SECTION */
/****************************/

.section-edit_post {
  display: flex;
  flex-direction: column;
  width: 50%;

  border: 1px solid black;
  margin-top: 3rem;
  transform: translateX(20%);
}

.section-edit_post--title {
  font-size: 3rem;
  border-bottom: 1px solid black;
  padding: 1rem 0 1rem 1rem;
}

.section-edit_post--form {
  padding: 1rem;
}

.section-edit_post div {
  font-size: 2.4rem;
}

.section-edit_post div:last-of-type {
  margin: 2.5rem 0;
}

textarea[name="section-edit_post--content"] {
  width: 100%;
  resize: none;
}

.section-edit_post--form button {
  margin-bottom: 2rem;
  width: 100%;
}

/****************************/
/* COMMENT SECTION */
/****************************/

.section-comment {
  display: flex;
  flex-direction: column;
  width: 50%;

  border: 1px solid black;
  margin-top: 2rem;
  transform: translate(20%);
}

.section-comment--title {
  font-size: 3rem;
  border-bottom: 1px solid black;
  padding: 1rem 0 1rem 1rem;
}

.section-comment--form {
  padding: 1rem;
}

.section-comment div {
  font-size: 2.4rem;
}

.section-comment div:last-of-type {
  margin: 2.5rem 0;
}

textarea[name="section-comment--content"] {
  width: 100%;
  resize: none;
}

.section-comment--form button {
  margin-bottom: 2rem;
  width: 100%;
}

.section-comment--created_comment {
  font-size: 3rem;
}

/* For the comments themselves */

.section-all_comments {
  margin-top: 1rem;
  transform: translateX(10%);
}

.section-all_comments--created_comment {
  padding: 1rem;
  width: 80%;
}

.section-all_comments--created_comment:nth-child(even) {
  background-color: beige;
}
.section-all_comments--created_comment:nth-child(odd) {
  background-color: #dcdcf5;
}

.section-all_comments--created_comment {
  margin-top: 1rem;
}
