.post {
  display: flex;
  flex-direction: column;

  border: 1px solid black;
  margin-bottom: 2rem;
  max-width: 80vw;
}

.post-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid black;
  padding: 1rem;
}

.post-top--title {
  font-size: 3rem;
}

.post-bottom {
  margin-top: 1rem;
  padding: 1rem;
}
